<div id="work">
  <h1>Work</h1>
  <div class="work1">
    <div class="work-img">
      <img class = "pc" src="../../public/pc.png" alt="pc">
    <img class = "work-image" src="../../public/work1.png" alt="work1">
    </div>
    <div class="work-description">

      <h2>CIRCLEY</h2>
      <p class ="japanese">企業さま連携ページ</p>
      <p class ="english">Corporate Collaboration Page</p>

      <p class ="japanese">こちらのプロジェクトでは、企業との連携をサポートするためのページをデザインしました。デザインから実装まで一貫して手がけ、ポップで明るいイメージを表現しました。このアプローチにより、訪問者に親しみやすさとエネルギーを感じてもらえるよう工夫しました。</p>

      <p class ="english">In this project, I designed a page to support collaboration with companies. I was responsible for the entire process, from design to implementation, aiming to create a vibrant and friendly image. This approach ensures visitors feel a sense of warmth and energy.</p>

      <p class ="japanese">使用ツール：Wordpress(Elementor), Figma</p>
      <p class ="english">Tools used: WordPress (Elementor), Figma
      </p>

      <p><a href ="https://circley.jp" target="_blank">https://circley.jp</a></p>
    </div>
  </div>
</div>
<h1 class="project-title">School Project</h1>
<div class="school-project">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="project">
            <div class="work-img">
              <img class = "pc" src="../../public/pc.png" alt="pc">
              <img class = "work-image" src=".../../public/project2.png" alt="project1">
            </div>
            <div class="work-description">
              <h2>Shopping Site</h2>
              <p class ="japanese">個人プロジェクト</p>
              <p class ="english">Invisual Project</p>
        
              <p class ="japanese">
                このプロジェクトは、JavaScriptのオブジェクト指向プログラミング（OOP）を用いて開発したショッピングサイトです。
                商品の選択から購入手続きまで、シンプルかつ直感的な操作が可能なモダンなデザインを採用しています。
                ユーザーがスムーズにショッピング体験を楽しめるよう、UI/UXデザインにも細部まで配慮しました。
              </p>
        
              <p class ="english">
                This project is a shopping site developed using JavaScript Object-Oriented Programming (OOP).
                With a modern design, it enables a simple and intuitive experience from product selection to checkout.
                The UI/UX design is carefully crafted to ensure a smooth and enjoyable shopping experience for users.
              </p>
        
              <p class ="japanese">使用言語：HTML,CSS,Javascript</p>
              <p class ="english">Languege used:HTML, CSS, Javascript
        
              <p><a href ="https://saki0u0.github.io/Shopping_site/" target="_blank">https://saki0u0.github.io/Shopping_site/</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="project">
            <div class="work-img">
              <img class = "pc" src="../../public/pc.png" alt="pc">
              <img class = "work-image" src=".../../public/project1.png" alt="project1">
            </div>
            <div class="work-description">
              <h2>Kanban App</h2>
              <p class ="japanese">チームプロジェクト</p>
              <p class ="english">Corporate Collaboration Page</p>
        
              <p class ="japanese">
                このカンバンアプリは、TypeScriptを使用してチームで協力して開発したプロジェクトです。私は主にWebデザインを担当し、ハロウィンが近かったことから、季節感を取り入れたハロウィンデザインを採用しました。タスクの整理や管理を楽しく行えるよう工夫しています。
              </p>
        
              <p class ="english">
                This Kanban app was a team project developed using TypeScript, where I was primarily responsible for the web design. Given that Halloween was approaching, we incorporated a Halloween-themed design to bring a seasonal touch to the app. It’s designed to make task organization and management both efficient and enjoyable.
              </p>
        
              <p class ="japanese">使用言語：Astro, Typescript, Tailwind, Javascript</p>
              <p class ="english">Languege used: Astro, Typescript, Tailwind
              </p>
              <p><a href ="" target="_blank"></a></p>
              
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<style>
  #work{
    width: 800px;
    height:100vh;
    margin:0 auto;
  }

  #work h1,.project-title{
    color:#03005D;
    margin-bottom: 100px;
    font-family: "Jaro", sans-serif;
    font-size: 3rem;
  }

  .project-title{
    width: 800px;
    margin:0 auto;
    padding-bottom: 100px;;
  }

  .work1{
    display: flex;
  }

  .pc{
    width:400px;
    display:block;
    position:absolute;
    z-index: 10;
  }

  .work-image{
    width: 320px;
    margin-top:15px;
    margin-left: 40px;
    position: relative;
    z-index: 0;
  }

  .work1-image:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

  .work-description{
    margin-left:100px;
  }

  a{
    text-decoration: none;
    color:black;
  }

  a:hover{
    text-decoration:underline;
  }

  .english{
    display:none;
  }

  .school-project{
    width:70%;
    margin:0 auto;
    height:100vh;
  }

  .carousel-inner{
    height:350px;
  }

  .project{
    display:flex;
    padding:0 100px;
  }

  .carousel-control-prev-icon,.carousel-control-next-icon {
    filter: invert(0%) brightness(0%);
  }

  .carousel-control-prev{
    justify-content: start;
  }

  .carousel-control-next{
    justify-content: end;
  }

  @media (max-width:1000px){

    .school-project{
      width:100%
    }

    .carousel-item{
      margin:0;
    }
  }

    @media (max-width:768px){
      #work{
        width:100%;
        margin-bottom: 100px;
        height:100%;
      }

      #work h1, h1{
        text-align: center;
      }

      .work1,.project{
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
      }

      .project-title{
        width:100%;
        text-align: center;
      }

      .work-description{
        margin-top:200px;
        text-align: center;
        margin-left:0px;
      }

      .school-project{
        width:100%;
        justify-content: center;
        margin:0 auto;
        height:100%;
        padding-bottom:100px;
      }

      .carousel-inner{
      height:100%;
    }

    .project{
      padding:0px !important;
      height:100%;
    }

    .pc{
      transform:translateX(40px)
    } 
    
    .work-image{
      transform:translateX(40px)
    }
  }

  @media (max-width:600px){
    .pc{
      width:90%;
      transform:translateX(-40px)
    } 

     .work-image{
      margin-left:0;
      width:105%;
      transform:translateX(3px);
      margin-top:20px;
    }
  }

  @media (max-width:480px){
    .work-image{
      transform:translateX(-5px);
      margin-top:15px;
    }
  }
</style>
