<footer>
  
  <p>2024 Saki. All right reserved.</p>
</footer>
<style>
  .footer-menu{
    font-family: "Jaro", sans-serif;
    color: #FB9AA3;
    font-size: 1.5rem;
    font-weight:100;
    text-align: center;
    
  }

  ul{
    display: flex;
    justify-content: center;
  }

  li{
    list-style: none;
    padding-right:20px;
    padding-left: 20px;
  }

  li:first-child{
    padding-left: 0px;
  }

  p{
    text-align: center;
    font-size: 0.8rem;
  }
</style>